/* UploadFormComponent.css */

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(212, 207, 207);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    margin: 10px 0;
    font-weight: bold;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #062e58;
    color: rgb(203, 199, 199);
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }